__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
*.venv

.ipynb_checkpoints/

.DS_Store

Thumbs.db
ehthumbs.db

.vscode/
*.sublime-workspace
*.sublime-project
.idea/
*.iml

logs/
*.log

*.bak
*.swp
*.swo
*.tmp

**/pygame_cache/